name: Deploy to EC2

# trigger of the pipeline
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo code
      - name: Checkout code
        uses: actions/checkout@v3

      # set up container engine
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Loging in to our github registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push Docker image
      - name: Build and push Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}:latest
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

  
